{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
    <h1>Create a Patient entry</h1>

    <form action="/create?hospital_name={{ hospital_name }}" method="post">
        <div>NRIC: <input type="text" name="nricNum" placeholder="S1234567A"></div>
        <div>Temperature: <input type="text" name="temperature" placeholder="37"></div>
        <div>Heartbeat: <input type="text" name="heartbeat" placeholder="80"></div>
        <div><input type="submit" value="Save Form"></div>
    </form>
</div>
</body>
{% endblock %}