{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
    <table class="table table-striped table-hover">
        <tr>
            {% for reading in readings %}
            <td>
                {% if reading.hospitalStaff %}
                <b>{{ reading.hospitalStaff.email }}
                    {% if user and user.user_id() == reading.hospitalStaff.identity %}
                    (You)
                    {% endif %}
                </b> wrote:
                {% else %}
                An anonymous person wrote:
                {% endif %}
            </td>
            <td>{{ reading.nricNum }}</td>
            <td>{{ reading.temperature }}</td>
            <td>{{ reading.heartrate }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<hr>

<!-- Footer -->
<div class="container">
    <form>Hospital name:
        <input value="{{ hospital_name }}" name="hospital_name">
        <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
</div>
</body>
{% endblock %}

