{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-bordered">
                <tr class="active">
                    <th>ID</th>
                    <th>NRIC</th>
                    <th>Name</th>
                    <th>Triage Time</th>
                    <th>Triage Data</th>
                    <th>Classification</th>
                </tr>
                {% for reading in readings %}
                <tr class="clickable-row" data-url="/triage">
                    <td>
                        {{ loop.index }}
                    </td>

                    <td> <!-- Nric -->
                        {{ reading.nric_num}}
                    </td>
                    <td>
                        {{ reading.name}}
                      <!--  Created by
                        {% if reading.hospitalStaff %}
                        <b>{{ reading.hospitalStaff.email }}
                            {% if user and user.user_id() == reading.hospitalStaff.identity %}
                            (you)
                            {% endif %}
                        </b>
                        {% else %}
                        an anonymous person
                        {% endif %}-->
                    </td>
                    <td> <!-- Date -->
                        {{ reading.date}}
                    </td>
                    <td> {{reading.temperature}}&deg;C, {{ reading.heartrate}}bpm</td>
                    <td>P1</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<!-- JavaScript files should be linked at the bottom of the page -->
<script src="/bootstrap/js/jquery.min.js"></script>

<script src="/bootstrap/js/custom.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}
