{% extends "layout.html" %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>Meet Health To Go</h1>
			<p>The revolutionary way to register for medical treatment in
				Singapore.</p>
			<br>
			<p>
				<a class="btn btn-primary btn-lg" href="/create" role="button">Register
					Now</a>
		</div>
		<!-- end container> -->
	</div>
	<!--  end jumbotron -->
	</div>
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Cut the waits</h2>
				<p> Get real-time information about the estimated waiting times at each 
					hospital so that you know which one to register for.
					Make an informed decision so that you will never be sick of waiting!
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Shared medical history</h2>
				<p>Visiting different doctors each time and hope that your previous medical 
				    history can be shared with them for better diagnosis? HTG allows different 
				    doctors to view your medical history once you have registered an appointment 
				    with them.
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Pay on the go</h2>
				<p>Too sick to queue for payment? Left your wallet at home? 
					No problem! Payments for treatments via Health To Go can be done 
					electronically. We support credit cards and Paypal so 
					so that you can pay from your home.
				<p>
					<a class="btn btn-default" href="#" role="button">View details
						&raquo;</a>
				</p>
			</div>
		</div>

	</div>
	<!-- container -->


	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>

{% endblock %}
